body{
    background-color: lightgray; 
}

:root { scroll-behavior: smooth; }

@font-face {
    font-family: Brookshire;
    src: url(Brookshire.ttf);
}

/*header*/
#top{
    display: flex;
    background-color: white;
}

#toptxt{
    max-width: 100%;
}

#logo{
    width: 25%;
    height: 25%;
    float: left;
    margin-left: 5%;
}

#title{
    font-size: 250%;
    text-align: left;
    font-family:'Brookshire';
    float: left;
    vertical-align: middle;
    margin-top: 7.5%;
    color: #004AAD;
}

#headwrap{
    max-width: 20%;
    padding-right: 40%;
}

#shelf{
    display: flex;
    float: right;
    max-width: 25%;
    margin-top: 1%;
    max-height: auto;
}


@media (max-width: 1227px) {
    #headwrap{
    padding-right: 35%;
    }
}

@media (max-width: 1000px) {
    #headwrap{
    padding-right: 25%;}
    img#shelf {
    margin-top: 2%;}
}

@media (max-width: 800px) {
    img#shelf {
    display: none;}
    #headwrap{
    display: none;
    }
}

#navcontainer{
    display: flex;
    position: sticky;
    background-color: hsl(7, 80%, 12%);
    padding: 10px 0px 10px 0px;
    width: 100%;
}

#navcontainer #topnav{
    background-color: hsl(7, 80%, 12%);
    font-family: 'Gill Sans MT';
}


#topnav a{
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    text-align: center;
    width: 20%;
    vertical-align: middle;
}

#topnav a:link{
    color: white;
}

#topnav a:visited{
    color: white;
}

#topnav a:hover{
    background-color: #053905;
}

#topnav a:active{
    background-color: black;
}


#navcontainer input{
    text-align: left;
    margin: 0;
    margin-left: 10%;
    float: right;
    width: 30%;
    height: 20px;
    vertical-align: middle;
}

.menu{
    height: auto;
    width: 20px;
    padding: 0;
    margin: 0;
}

#topnav a.icon{
    padding: 10px 50px 10px 40px;
    width: 0;
}

@media screen and (max-width: 1360px) {
    .nav a {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }
  }

  @media screen and (max-width: 1360px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        position: flex;
        left: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
  }


/*no menu*/
@media (min-width: 1360px) {
    img.menu {
    display: none;}
    a.icon {
    display: none;}
}

/*searchbar*/
@media screen and (max-width: 1380px) {
    #navcontainer input{
        margin-left: 0;
        width: 40%;
    }
}

    @media screen and (max-width: 1360px) {
        #navcontainer input{
            margin-left: 0;
            width: 85%;
            height: 30px;
        }
    }

    @media screen and (max-width: 720px) {
        #navcontainer input{
            margin-left: 0;
            width: 80%;
            height: 30px;
        }
    }

    @media screen and (max-width: 570px) {
        #navcontainer input{
            margin-left: 0;
            width: 70%;
            height: 30px;
        }
    }

/*main*/
#home {
    position: relative;
    text-align: left;
    color: white;
    height: auto;
}

#homeimg{
    max-width: 100%;
    max-height: 100%
}

#homeimg{
    filter: brightness(50%);
    margin-top: 5px;
}

#hometext {
    position: absolute;
    display: inline;
    font-family:'Gill Sans MT';
    font-size: 3vw;
    max-width: 50%;
    font-weight: bolder;
    top: 60%;
    left: 2%;
}

@media screen and (max-width: 600px){
    #hometext{
        font-size: 4vw;
        height: auto;
        top: 40%;
        max-width: 40%;
    }
}

/*Home Book Slides*/
.headcont{
    background-color: hsl(7, 80%, 12%);
    margin: 1px 0 5px 0;
    padding: 1% 0;
}

.secthead{
    font-size: 3vw;
    color: white;
    margin: 0 0 0 10%;
    font-family: 'Brookshire';
    font-weight: lighter;
}

#bookslides{
    margin-bottom: -29%;
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
    @keyframes tostart {
        75% {
        left: 0;
        }
        95% {
        left: -300%;
        }
        98% {
        left: -300%;
        }
        99% {
        left: 0;
        }
    }
  
    @keyframes snap {
        96% {
        scroll-snap-align: center;
        }
        97% {
        scroll-snap-align: none;
        }
        99% {
        scroll-snap-align: none;
        }
        100% {
        scroll-snap-align: center;
        }
    }
  
    #slides {
        display: flex;
        text-align: center;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
    }
  
    * {
        box-sizing: border-box;
        scrollbar-color: transparent transparent;
        scrollbar-width: 5px;
    }
  
    *::-webkit-scrollbar {
        width: 0;
    }
  
    *::-webkit-scrollbar-track {
        background: transparent;
    }
  
    *::-webkit-scrollbar-thumb {
        background: transparent;
        border: none;
    }
    
    * {
        -ms-overflow-style: none;
    }
  
    ol, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
  
    .carousel {
        position: relative;
        padding-top: 75%;
        filter: drop-shadow(0 0 10px #0003);
        perspective: 100px;
    }
  
    .carousel__viewport {
        max-width: 70%;
        height: 60%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 15%;
        display: flex;
        overflow-x: scroll;
        counter-reset: item;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        list-style-type: none;
    }
  
    .carousel__slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        background-color: hsl(7, 80%, 12%);
        counter-increment: item;
    }
  
    .carousel__slide:nth-child(even) {
        background-color: hsl(7, 28%, 28%);
    }
  
    .carousel__slide:before {
        content: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-40%,70px);
        color: #fff;
        font-size: 2em;
    }
  
    .carousel__snapper {    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        scroll-snap-align: center;
    }
  
    @media (hover: hover) {
        .carousel__snapper {
            animation-name: tonext, snap;
            animation-timing-function: ease;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            }
  
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
        }
    }
  
    @media (prefers-reduced-motion: reduce) {
        .carousel__snapper {
        animation-name: none;
        }
    }
  
    .carousel:hover .carousel__snapper,
        .carousel:focus-within .carousel__snapper {
        animation-name: none;
    }
  
    .carousel__navigation {
        position: absolute;
        right: 0;
        bottom: 38%;
        left: 0;
        text-align: center;
    }
  
    .carousel__navigation-list,
    .carousel__navigation-item {
        display: inline-block;
    }
  
    .carousel__navigation-button {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-color: whitesmoke;
        background-clip: content-box;
        border: 0.25rem solid transparent;
        border-radius: 50%;
        font-size: 0;
        transition: transform 0.1s;
    }
  
    .carousel::before,
    .carousel::after,
    .carousel__prev,
    .carousel__next {
        position: absolute;
        top: 0;
        width: 8vw;
        height: 8vw;
        transform: translateY(225%);
        border-radius: 50%;
        font-size: 0;
        outline: 0;
    }
  
    .carousel::before,
    .carousel__prev {
        left: 1%;
    }
    
    .carousel::after,
    .carousel__next {
        right: 1%;
    }
  
    .carousel::before,
    .carousel::after {
        content: '';
        z-index: 1;
        background-color: lightgray;
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        color: #333;
        font-size: 2.5rem;
        line-height: 4rem;
        text-align: center;
        pointer-events: none;
    }
  
    .carousel::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%333'/%3E%3C/svg%3E");
    }
  
    .carousel::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%333'/%3E%3C/svg%3E");
    }

    .carousel::before {
        left: 15.5%;
    }

    .carousel::after {
        right: 15.5%;
    }


.slidecont{
    display: flex;
    padding: 15% 0 10% 15%;
}

.bookimg{
    margin: 0;
    background-color: white;
    float: left;
    display: flex;
    vertical-align: middle;
    max-width: 250%;
    height: auto;
}

.desccont{
    margin: 0 20% 0 25%;
    display: block;
    height: auto;
}

.booktitle{
    color: white;
    font-family: 'Georgia';
    text-align: left;
    display: flex;
    font-size: 2vw;
    margin: 0;
}

.bookdesc{
    color: white;
    font-family: 'Georgia';
    text-align: left;
    display: flex;
    vertical-align: middle;
    text-overflow: ellipsis;
    font-size: 1.5vw;
}

.read{
    background-color: white;
    color: black;
    padding: 10px;
    z-index: 1000;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px;
}

/*read now link*/
.desccont a.read:link{
    color: black;
}

.desccont a.read:hover{
    background-color: #053905;
    color: white;
}

.desccont a.read:active{
    background-color: black;
}

/*book title link*/
.booktitle a:link{
    text-decoration: none;
    color: white;
}

.booktitle a:hover{
    color: white;
}

.booktitle a:active{
    color: white;
}

.booktitle a:visited{
    color: white;
}

@media screen and (max-width: 1024px) {
    .slidecont{
        margin-top: -4%;
    }
    .read{
        padding: 10px;
    }
}

@media screen and (max-width: 770px) {
    .bookimg{
        max-width: 150%
    }
    .slidecont{
        margin-top: -2.5%;
    }
    .desccont{
        margin-left: 20%;
    }
}

@media screen and (max-width: 600px) {
    .carousel__viewport{
        max-width: 100%;
        height: auto;
        left: 0;
    }
    .bookimg{
        max-width: 150%;
    }
    .slidecont{
        margin-top: -3%;
        
    }
    .carousel::before,
    .carousel::after,
    .carousel__prev,
    .carousel__next{
        transform: translateY(310%);
        width: 10vw;
        height: 10vw;
    }
    .carousel::before {
        left: 0;
    }
    .carousel::after {
        right: 0;
    }
    .carousel__navigation {
        bottom: 2%;
    }
    .desccont{
        margin-left: 15%;
        margin-right: 15%;
    }
    .bookdesc{
        font-size: 2vw;
        font-weight: lighter;
    }
    .booktitle{
        font-size: 4vw;
    }
    .headcont{
        padding: 3% 0;
    }
    .secthead{
        font-size: 6vw;
    }
    #bookslides{
        margin-bottom: 0;
    }
}

/*Reviews Section*/
.vid{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;  
}

#revtl{
    position: absolute;
    top: -2%;
    right: 5.5%;
    font-family: 'Gill Sans MT';
    font-size: 3vw;
}

#revnav{
    display: flex;
    z-index: +1;
}

#revnav a {
    position: absolute;
    right: -32%;
    transition: 0.5s;
    padding: 10px 100px;
    width: auto;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 0px 0px 5px;
    margin: 0;
    height: auto;
}

#revnav a:hover {
    right: -5%;
    margin: 0;
}

#ROTTWRTW {
    display: flex;
    top: 12%;
    background-color: #04AA6D;
}

#revwrap{
    background-color: white;
}

#vidwrap{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50.25%;
}

#revwarning{
    font-family: 'Gill Sans MT';
    font-weight: bolder;
    color: darkred;
    position: absolute;
    top: 82%;
    left: 13%;
    font-size: 3vw;
}

/*Review Side Nav*/
@media screen and (max-width: 1370px){
    #revnav a {
        position: absolute;
        right: -35%;
    }
}

@media screen and (max-width: 1190px){
    #revnav a {
        position: absolute;
        right: -40%;
    }
}

@media screen and (max-width: 1030px){
    #revnav a {
        position: absolute;
        right: -48%;
    }
}

@media screen and (max-width: 830px){
    #revnav a {
        position: absolute;
        right: -63%;
    }
}

@media screen and (max-width: 700px){
    #revnav a {
        position: absolute;
        right: -64%;
        font-size: 15px;
    }
    #revnav a:hover {
        right: -10%;
        margin: 0;
    }
}

@media screen and (max-width: 600px){
    #revnav a {
        position: absolute;
        right: -85%;
    }
}

@media screen and (max-width: 400px){
    #revnav a {
        position: absolute;
        right: -115%;
        font-size: 15px;
    }
    #revnav a:hover {
        right: -20%;
        margin: 0;
    }
}

@media screen and (max-width: 380px){
    #revnav a {
        position: absolute;
        right: -120%;
        font-size: 15px;
    }
    #revnav a:hover {
        right: -20%;
        margin: 0;
    }
}

#ogslides{
    margin-bottom: -29%;
}

/*Footer*/
.footercont{
    background-color: hsl(7, 80%, 12%);
    padding-top: 15%;
}

.about{
    font-size: 2vw;
    text-align: center;
    font-family: 'Gill Sans';
    color: white;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.contacthead{
    font-size: 20px;
    font-family: 'Gill Sans MT';
    margin: 50px;
    border-bottom: solid orange;
    display: inline;
    color: white;
}

.contactinfo{
    font-size: 18px;
    font-family: 'Gill Sans';
    margin-left: 50px;
    color: white;
}

.email{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    font-size: 2vw;
    border: none;
    margin-left: 50px;
    padding: 10px;
    display: inline;
}

.logocntr{
    display: flex;
    margin-left: 70%;
    margin-right: auto;
    align-items: right;
    width: 20%;
    margin-top: 0;
}

.slogo{
    width: 100%;
    height: auto;
    padding: 25px;
}

.slogo{
    filter: invert();
}

button{
    background-color: transparent;
}

.shawarma{
    background-color: transparent;
    margin-top: 10%;
}

/*Original Works*/
.border{
    text-align: center;
    font-family: 'Gill Sans MT';
    font-size: 40px;
}

.bordstyle{
    height: 200px;
    width: 400px;
}

.ogworktl{
    font-size: 40px;
    font-family: 'Gill Sans MT';
    position: absolute;
    top: 215px;
    left: 645px;
}

.ogpar p{
    font-family: 'Gill Sans';
    font-size: 18px;
    margin: 30px 200px;
}

.stt {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(74, 181, 74) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
  }
  .stt:hover {
    opacity: 0.8;
  }
  .stt:focus {
    opacity: 0.9;
  }
  .stt:active {
    opacity: 1;
  }